<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!--<link rel="stylesheet" type="text/css" href="../static/styles.css">-->
  <link rel="stylesheet" type="text/css" href="../static/index.css">
  <link rel="stylesheet" type="text/css" href="../static/login.css">
  <!--<link rel="stylesheet" type="text/css" href="../static/pdts.css"-->
  <!--<link rel="stylesheet" type="text/css" href="../static/single.css">-->
</head>
<body>
  <nav>
    <div class="navbar">
  <a href="#home">Store Manager</a>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;background-color: #ccc;color: #000;">Admin Login</button>
</div>
  </nav>
  
  
  <div class="login-page">
    <div class="form">
      <img src="../images/logo.png" style="width: 150px; height: 150px; margin-bottom: 40px;margin-top: -80px;">
      <form class="login-form">
        <input type="text" name="" placeholder="user name">
        <input type="text" name="" placeholder="password">
        <button><a href="product.html"> Create </a> </button> 
        <p class="message"> Not Registered? <a href="Register.html">Register </a></p>
      </form>
    </div>
  </div>
  </div>
  <footer>
    <h4>Anything goes for now</h4>
</footer>
</body>
</html>