<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="../static/pdts.css">
  <link rel="stylesheet" type="text/css" href="../static/login.css">
  <style>
    
  </style>
</head>
<body> 
  <nav>
    <div class="navbar">
  <a href="#home">Store Manager</a>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;background-color: #ccc;color: #000;">Admin Login</button>
</div>
  </nav>
  <div class="product clear" style="margin: 30px;">
      <header>
          <h4 style="margin-left: -250px;margin-bottom: 20px;">Chocolate cake</h4>
      </header>
      <figure>
        <a href="singlepdt.html"><img src="../images/chocolate.jpg"></a>
      <div>Quantity
          <select>
            <option value="quantity">1</option>
            <option value="quantity">2</option>
            <option value="quantity">3</option>
            <option value="quantity">4</option>
            <option value="quantity">5</option>
          </select>
        </div>
        <button style="width: 40%; float: left;">Buy Now</button> 
      </figure>

    </div>
    <div class="product clear" style="margin: 10px;">
      <header>
          <h4 style="margin-left: -250px;margin-bottom: 20px;">Chocolate cake</h4>
      </header>
      <figure>
        <a href="singlepdt.html"><img src="../images/chocolate.jpg"></a>
      <div>Quantity
          <select>
            <option value="quantity">1</option>
            <option value="quantity">2</option>
            <option value="quantity">3</option>
            <option value="quantity">4</option>
            <option value="quantity">5</option>
          </select>
        </div>
        <button style="width: 40%; float: left;">Buy Now</button> 
      </figure>
 </div>
 <div class="product clear" style="margin: 10px;">
      <header>
          <h4 style="margin-left: -250px;margin-bottom: 20px;">Chocolate cake</h4>
      </header>
      <figure>
        <a href="singlepdt.html"><img src="../images/chocolate.jpg"></a>
      <div>Quantity
          <select>
            <option value="quantity">1</option>
            <option value="quantity">2</option>
            <option value="quantity">3</option>
            <option value="quantity">4</option>
            <option value="quantity">5</option>
          </select>
        </div>
        <button style="width: 40%; float: left;">Buy Now</button> 
      </figure>

    </div>
    <div class="product clear" style="margin: 30px;">
      <header>
          <h4 style="margin-left: -250px;margin-bottom: 20px;">Chocolate cake</h4>
      </header>
      <figure>
        <a href="singlepdt.html"><img src="../images/chocolate.jpg"></a>
      <div>Quantity
          <select>
            <option value="quantity">1</option>
            <option value="quantity">2</option>
            <option value="quantity">3</option>
            <option value="quantity">4</option>
            <option value="quantity">5</option>
          </select>
        </div>
        <button style="width: 40%; float: left;">Buy Now</button> 
      </figure>
 </div>
 <div class="product clear" style="margin: 10px;">
      <header>
          <h4 style="margin-left: -250px;margin-bottom: 20px;">Chocolate cake</h4>
      </header>
      <figure>
        <a href="singlepdt.html"><img src="../images/chocolate.jpg"></a>
      <div>Quantity
          <select>
            <option value="quantity">1</option>
            <option value="quantity">2</option>
            <option value="quantity">3</option>
            <option value="quantity">4</option>
            <option value="quantity">5</option>
          </select>
        </div>
        <button style="width: 40%; float: left;">Buy Now</button> 
      </figure>

    </div>
    <div class="product clear" style="margin: 10px;">
      <header>
          <h4 style="margin-left: -250px;margin-bottom: 20px;">Chocolate cake</h4>
      </header>
      <figure>
        <a href="singlepdt.html"><img src="../images/chocolate.jpg"></a>
      <div>Quantity
          <select>
            <option value="quantity">1</option>
            <option value="quantity">2</option>
            <option value="quantity">3</option>
            <option value="quantity">4</option>
            <option value="quantity">5</option>
          </select>
        </div>
        <button style="width: 40%; float: left;">Buy Now</button> 
      </figure>
 </div>
    
  <footer>
    <h4>Anything goes for now</h4>
</footer>
</body>
</html>