body{
    background:#a7aab1;
    background-size: cover;
    background-repeat: no-repeat;
}
table{
    width: 80%;
}
table, th, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    opacity: 0.95;
}
th, td{
    padding: 10px;
    text-align: center;
}
th{
    background-color: #000;
    color: white;
}
tr:nth-child(even){
    background-color: #e8e8e8;
}
tr:nth-child(odd){
    background-color: white;
}
h1{
    text-align: center;
    color: white;
}

/* see sales */

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.box2{
    box-sizing: content-box;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
}