body{
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
table{
    width: 80%;
}
table, th, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    opacity: 0.95;
}
th, td{
    padding: 10px;
    text-align: center;
}
th{
    background-color: #000;
    color: white;
}
tr:nth-child(even){
    background-color: #e8e8e8;
}
tr:nth-child(odd){
    background-color: white;
}
h1{
    text-align: center;
    color: white;
}