<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="../static/pdts.css">
  <link rel="stylesheet" type="text/css" href="../static/login.css">
  <link rel="stylesheet" type="text/css" href="../static/single.css">
</head>
<body> 
  <nav>
    <div class="navbar">
  <a href="../templates/admin.html">Store Manager</a>
  <a class="active" href="../templates/admin.html">Home</a>
  <a href="../templates/singlepdt.html">Product Details</a>
  <a href="../templates/product.html">Products</a>
  <button style="width:auto;"><a style="margin-top: -15px;" href="../templates/index.html">Logout</a></button>
 <!-- img in the single.css styling --> 
</div>
  </nav>
  <div class='container'>
  
  <div class='highlight-window' id='product-img'><div class='highlight-overlay' id='highlight-overlay'>
    
  </div></div>
  <div class='window'>
    <div class='main-content'>
      <h2>Sweet Tooth</h2>
      <h1>Chocolate-Coconut Cake</h1>
      <h3>Mouth watering tasty cake</h3>
  <div class='description' id='description'>
  Spongy cake covered in chocolate and coconut toppings. It's man's best dessert</div>
      <div class='highlight-window  mobile' id='product-img'><div class='highlight-overlay' id='highlight-overlay-mobile'></div></div>
      
        
            <div class='divider'></div>

          <div class='purchase-info'>
      <div class='price'>Ksh 2500</div>
            <td><button type="button" onclick="alert('Added successful')" class="btn"><i class="fa fa-trash"></i> Add Item</button></td>
    </div>
    </div>
  </div>
</div>
<footer>
    <h4>Anything goes for now</h4>
</footer>
</body>
</html>